<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.plainolnotes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.NotesProvider"
            android:authorities="com.alpha.plainolnotes.notesprovider"
            android:exported="false" />

        <activity
            android:name=".ui.EditorActivity"
            android:label="@string/title_activity_editor"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alpha.plainolnotes.ui.MainActivity" />
        </activity>
    </application>

</manifest>
